<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Topic Modelling (NLP_NTLK lib)</title>
</head>

<body>
    <section>
    <h1>Topic Modelling (NLP_NTLK lib)</h1>
    <br>
    <h3>About</h3>
    <p>
        information here::::
        aglhhalhg;ahah
    </p>
    <article>
    <a target="_blank" href="images/cloudymap.png">
    <img width='200' src="images/cloudymap.png" alt="Cloudy Map">
    </a>
    <p><em>Cloudy Map</em></p>
    <h3>Some Todos</h3>
    <ol>
    <li>Learn HTML</li>
    <li>Learn CSS</li>
    <li>Learn JavaScript</li>
    </ol>
    <br>
    </article>
    <hr>
    <article>
    <a target="_blank" href="images/humiditymap.png">
    <img src="images/humiditymap.png" alt="Humidity Map">
    </a>
    <p><em>Humidity Map</em></p>
    </article>
    <hr>
    <!-- an example using figure/ficaption -->
    <figure>
    <a target="_blank" href="images/windmap.png">
    <img src="images/windmap.png" alt="Wind Map">
    </a>
    <figcaption><em>Wind Map</em></figcaption>
    </figure>
    </section>
  </body>
  

  
<body>
        <h1>Find out what catagory your document can be</h1> 

        <h4>need some input here  </h4>

        <hr>
    

        <hr>

        <h3>Document name:</h3>
        <input id="filename">

        <br>
        <br>
        <button type="button" id="btn-predict">Predict</button>
        <br>
        <br>

        <hr>

        <h3>Data catagory prediction</h3>

        <h1 id="prediction-output"></h1>

        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="../static/js/predict.js"></script>

    </body>

</html>